<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">POS System</a>
  </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="top:40px">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " routerLink="/dash-board" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink= "/manage-customer" routerLinkActive="active" href="#">
              <span data-feather="file"></span>
              Manage Customer
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink= "/manage-item" routerLinkActive="active" >
              <span data-feather="shopping-cart"></span>
              Manage Item
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink= "/place-order" routerLinkActive="active" >
              <span data-feather="users"></span>
              Place Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink= "/view-orders" routerLinkActive="active">
              <span data-feather="bar-chart-2"></span>
              View Orders
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="top:30px">
      <router-outlet></router-outlet>
     <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


    </main>
  </div>
</div>

